.onOff {
    display: flex;
}
.button {
    width: 80px;
    border-radius: 10px;
}

.bg__red {
    background-color: red;
}

.bg__green {
    background-color: green;
}

.lamp {
    width: 50px;
    height: 30px;
    border-radius: 10px;
}